body {
    background-color: #ADD8E6;
    margin: 60px;
}

h1 {
    font-size: 1.6em;
    text-align: center;
    color: #083e9e;
    margin-bottom: 3px;
}

#h1-text{
    text-align: center;
    font-size: .9rem;
    margin: 0;
}

img {
    margin: 0 auto;
    display: block;
    width: 191px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.register {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
    background-color: #fff;
    padding: 15px 80px;
    margin: 0 auto;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

label {
    color: #4a5568;
    font-size: .75rem;
    margin-bottom: .25rem;
    font-weight: 700;
    line-height: 2;
    font-family: U8,sans-serif;
}

input {
    color: #1a202c;
    padding: 1rem;
    background-color: white;
}

.input-box {
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #fff;
    outline: none;
    background-color: #e7e7e7;
}

select {
    border-radius: 5px;
    margin: 10px 0;
    width: 102%;
    height: 40px;
    outline: none;
    background-color: #e2e8f0;
}

#User {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(7, 48, 121);
}

button {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 54px;
    background-color: rgb(8, 62, 158);
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    border-bottom-left-radius: 0px;
}

